dialog#dialog
  form(action='#')
    .mdl-textfield.mdl-js-textfield
      input#inp.mdl-textfield__input(type='text', placeholder='Token...', name='token')
      label.mdl-textfield__label(for='inp') Token...
