doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, maximum-scale=1')
  body
    //h1 Географическое распределение вакансий с сайта hh.ru
    main#app

    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')